%hover-transition
{
    transition: ease .35s;
}

.icon 
{   
    padding: .22em;
    fill: $medium-grey;
    cursor: pointer;
    &:hover
    {   
        @extend %hover-transition;
        transition: .11s ease-in;
        fill: $dark-background;
    }
}

.icon-ok
{
    fill: $defaut-green;
    padding: .1em;
    &:hover
    {
        @extend %hover-transition;
        fill: $hover-green;
    } 
}

.icon-cancel
{
    fill: $default-red;
    &:hover
    {
        @extend %hover-transition;
        fill: $hover-red;
    }
}

.icon-menubar
{   width: 2.9em;
    fill: $light-grey;
    padding: .1em;
    &:hover
    {
        fill: $hover-white;
    }
}

.icon-resume
{
    padding: .2em;
}


