//colors
$font-color: #66615b !default;
$dark-background: #353b42 !default;
$black-background: #181b1e;
$absolute-white: #fff;
$hover-white: #fffff8;    
$light-grey: #dfdfdf;
$medium-grey: #999;
$dark-grey: #6a6f75;
$nice-blue: #015498;
$medium-blue: #217cc7;
$dark-blue: #2e3f6a;
$clear-blue: #5c6d97;
$defaut-green: #6ac56a;
$hover-green: #1fb11f;
$default-red: #c54242;
$hover-red: #e22525;

//icons
$width-icon: 2.7em !default;
$height-icon: 2.7em !default;

//sizes
$none: 0 !default;
$default-size: 1.1em;
$navlist-size: 1.2em;
$content-boxes-size: 1.115em;
$small-size: .9em; 
$default-weight: 400;
$full-size: 100%;
$boxes-margin-top: .3em;

//inputs
$default-radius: 1px;
$input-indent: 10px;

//borders
$light-border: solid 1px;
$medium-border: solid 1.5px;