//============================== max width 1680 ==============================//


@media screen and (max-width: 1680px) {
    // ---> home <---
    .home-container
    {
        width: 70.5%;
    }

    #aside
    {
        width: 40%
    }

    .teacher-page-content
    {
        width: 70.1%;
    }

}

@media screen and (max-width: 1600px) {
    // ---> home <---
    .home-container
    {
        width: 71.5%;
        height: 87vh;
        margin: .5% auto;
    }

    .teacher-page-content
    {
        width: 72%;
    }
}

@media screen and (max-width: 1440px){
    // ---> home <---
    .home-container
    {
        width: 77%;
    }

    .div-aside-container
    {
        max-height: 84%;
    }

    .teacher-page-content
    {
        width: 80%;
        margin-left: 11.5%;
    }

    .head
    {
      .center-header
      {
        margin-left: -50%;
      }
    }
}

@media screen and (max-width: 1366px){
    // ---> home <---
    .home-container
    {
        width: 74%;
        height: 83.2vh;
        margin: .4% auto;
    }

    .div-aside-container
    {
        max-height: 76.6%;
    }

    .head
    {
      .center-header
      {
        margin-left: -45.3%;
      }
    }

    .teacher-page-content
    {
        width: 85%;
        margin: .4% auto;
    }

}

@media screen and (max-width: 1280px){
    // ---> home <---
    .home-container
    {
        width: 74%;
        height: 82.5vh;
        margin: .3% auto;
    }

    .div-aside-container
    {
        max-height: 79%;
    }

    .teacher-page-content
    {
        width: 90%;
        margin: .6% auto;
    }

    .head
    {
      .center-header
      {
        margin-left: -43%;
      }
    }
}

@media screen and (max-width: 1024px){
    // ---> home <---

    .home-container
    {
        width: 80%;
        height: 83.5vh;
        margin: .3% auto;
    }

    #aside
    {
      display: none;
    }

    .teacher-description
    {
        margin: .5em 0;
    }

    .head
    {
      .center-header
      {
        margin-left: -55%;
        .search
        {
          display: none;
        }
      }
    }
}

@media screen and (max-width: 800px){
  .teacher-description
  {
      margin: .5em 1em;
  }

  .head
  {
    .center-header
    {
      margin-left: -10%;
    }
  }

  .square-photo
  {
      width: 7em;
      height: 7em;
  }

  #footer
  {
    display: none;
  }
}
