//============================== max width 1680 ==============================//


@media screen and (max-width: 1680px) { 
    // ---> home <---
    .home-container
    {
        width: 71%;
    }
    
    #aside
    {
        width: 40%
    }
}

@media screen and (max-width: 1600px) { 
    // ---> home <---
    .home-container
    {
        width: 72%;
        height: 87vh;
        margin: .5% auto;
    }
}

@media screen and (max-width: 1440px){
    // ---> home <---
    .home-container
    {
        width: 75.5%;
    }

    .div-aside-container
    {
        max-height: 84%;
    }
}

@media screen and (max-width: 1366px){
    // ---> home <---
    .home-container
    {
        width: 77%;
        height: 83.2vh;
        margin: .4% auto;
    }

    .div-aside-container
    {
        max-height: 76.6%;
    }

}

@media screen and (max-width: 1280px){
    // ---> home <---
    .home-container
    {
        width: 80%;
        height: 82.5vh;
        margin: .3% auto;
    }

    .div-aside-container
    {
        max-height: 79%;
    }
}

@media screen and (max-width: 1024px){
    // ---> home <---


    .home-container
    {
        width: 80%;
        height: 83.5vh;
        margin: .3% auto;
    }
}