.feed
{
    background-color: $absolute-white;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 84vh;
    margin: .5% 0% 1% 13%;
    border: $light-border $medium-grey;
    border-radius: 4px;

    .feed-title
    {

        font-size: 1.4em;
        border-bottom: 2.5px solid $medium-grey;
        text-indent: 1em;
        width: 95%;
        margin: 2%;
    }


}