.head
{
    width: $full-size;
    padding: .2em;
    background-color: $dark-blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    .div-icon-search
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .div-icon-search > .search
    {
        margin-left: 1em;
    }
    .input-search
    {
        font-weight: $default-weight;
        font-size: $default-size;
        text-indent: $input-indent;
        color: $medium-grey;
        background-color: $clear-blue;
        padding: 6px 0;
        width: $full-size;
        border-radius: $default-radius;
        border: none;
    }
    
    #logo
    {
        width: $width-icon;
    }


    .nav-list
    {
        flex-grow: .1;
        margin-left: -23em;
        #btn-nav-list
        {
            margin-left: .6em;
        }
    }

}


