#aside
{
    position: absolute;
    top: 3.5em;
    right: 14em;
    height: 80vh;
    width: 23%;
}

.aside-head
{
    border-radius: $default-radius + 1px;
    width: $full-size;
    border: $light-border $medium-grey;
    background-color: $absolute-white;

    h1{
        font-size: $default-size;
        color: $black-background;
        margin-left: 10px;
        font-weight: $default-weight + 150;
        padding: .6em 0; 
    }        
}

.div-dir,
.div-links
{
    margin-top: .5em;
}

%equal-border
{
    border: $light-border $medium-grey;
    border-radius: 0 0 3px 3px;
    margin-top: -1px;
}

%equal-height
{   
    height: 15em;
    max-height: 15em;
    overflow: auto;
}

.links-container
{
    @extend %equal-border;
    @extend %equal-height;
}

.dir-container
{
    @extend %equal-border;
    @extend %equal-height;
}