/*========== General ==========*/
%equal-flex-direction
{
    display: flex;
    flex-direction: row;
}

%no-border
{
    border: none;
}

.teacher-profile
{
    width: 58em;
    height: 36.5em;
    max-height: 36.5em;
    overflow: auto;
    margin: 3em 12em;
    
    .title-teacher
    {
        font-size: $default-size + .1em;
        font-weight: $default-weight + 150;
    }
    
    .div-teacher-img
    {
        width: 15%;
    }

    .desc-photo
    {
        display: flex;
    }

    .teacher-description
    {
        font-size: 1.65em;
        margin: .5em;
        .div-desc-teacher{
            @extend %equal-flex-direction;
            width: 28.5em;
            p{
             font-size: .6em;   
            }
            .input-teacher-profile{
                background-color: transparent;
                width: $full-size;
                @extend %no-border;
                color: $dark-grey;
            }
            .btn-edit
            {
                cursor: pointer;
            }
        }
        .div-email-teacher { @extend .div-desc-teacher; }
        
    }

    .info-teacher
    {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: $light-border $medium-grey; 
        border-bottom: $light-border $medium-grey;
    }

    .tabs-header 
    {
        border-bottom: $light-border $medium-grey;
        margin-top: -1.2%;
        span:nth-child(1){
            margin-left: 20%;
        }
        span {
            display: inline-block;
            color: $font-color;
            padding-bottom: 0.2rem;
            margin-right: 1.5rem;
            transition: .10s ease-in;
            border-bottom: 2px solid transparent;
            &.active 
            {
                color: $font-color;
                border-bottom: 2px solid $nice-blue;
            }
            &:hover 
            {
                cursor: pointer;
                color: $font-color;
                transition: none;
                border-bottom: 2px solid $medium-grey;
            }
        }
    }
    
    .tabs-content div {
        padding: 1rem 0;
    }
}



