.feed
{
    @extend %equal-flex-display;
    flex-direction: column;
    //flex-grow: 1;
    background-color: $absolute-white;
    width: 65%;
    height: 100%;
    border: $light-border $light-grey;
    border-radius: 4px;

    .feed-title
    {
        font-size: 1.3em;
        border-bottom: 2px solid $clear-blue;
        text-indent: 1em;
        width: 97%;
        margin: 2.75% auto;

    }
    .feed-container
    {
        height: $full-size;
        max-height: $full-size;
        overflow: auto;
        width: $full-size - 2%;
        margin: auto;


        .feed-types
        {
            width: 97%;
            margin: 1% auto;
            font-size: $default-size - .1em;
            position: relative;

            .feed-upload
            {
                border: $light-border $medium-grey;
                border-radius: $medium-radius;
            }

            .feed-recado
            {
                border: $light-border $default-green;
                border-radius: $medium-radius;
                .feed-title-recado
                {
                    color: $dark-background;
                    margin-top: 1%;
                }
            }

            .feed-aviso
            {
                border: $light-border $clear-red;
                border-radius: $medium-radius;
                .title-aviso
                {
                    color: $default-red;
                    font-weight: 700;
                }
                .feed-text-aviso
                {
                    margin-top: 1%;
                    color: $dark-background;
                }
            }

            .feed-aside
            {
                border: $light-border $medium-blue;
                border-radius: $medium-radius;
            }

        }
    }

    .feed-text-content
    {
        margin: 2% 5.2em;
    }

    .feed-date
    {
        margin-right: 1%;
        text-align: right;
        color: $dark-background;
        font-size: .8em;
        font-weight: 600;
    }

    .feed-link-place
    {
        color: $medium-blue;
        cursor: pointer;

    }

    .feed-archive-name
    {
        @extend .feed-link-place;
        font-size: $default-size - .22em;
        margin-top: 1.5%;
    }

    .feed-photo
    {
      position: absolute;
      left: 1%;
      top: 7%;
      border-radius: 2px;
      width: 4em;
      height: 3.8em;
    }

    .special-feed-photo
    {
        @extend .feed-photo;
        height: 4.2em;
    }

    .teacher-name-feed
    {
        color: rgba(0, 0, 0, 0.747);
    }

    .icon-delete-feed
    {
        width: .9em;
    }

    .btn-delete-feed
    {
        right: .2em;
        top: .1em;
        position: absolute;
    }

    .icon-delete-feed
    {
        &:hover{
            fill: $hover-red;
        }
    }



    //===================

    .content-aligned
    {
        display: flex;
        flex-direction: row;
    }

    .feed-container::-webkit-scrollbar
    {

        width: 7px;
        background-color: $absolute-white;
    }

    .feed-container::-webkit-scrollbar-thumb
    {
        border-radius: 7px;
        background-color: rgba(202, 200, 200, 0.904);
    }
}
