.feed
{
    @extend %equal-flex-display;
    flex-direction: column;
    //flex-grow: 1;
    background-color: $absolute-white;
    width: 65%;
    height: 90vh;
    max-height: 90vh;
    border: $light-border $light-grey;
    border-radius: 4px;

    .feed-title
    {
        font-size: 1.4em;
        border-bottom: 2.5px solid $medium-grey;
        text-indent: 1em;
        width: 95%;
        margin: 2%;
    }


}