#footer
{
    position: absolute;
    bottom: 0%;
    padding: .8em 0;
    width: $full-size;
    background-color: $black-background;
}

.divider
{
    //margin: 0 10em 1em 8.9em;
    //border: .5px solid $medium-grey;
}

h4
{
    color: $medium-grey;
    font-weight: $default-weight;
    font-size: .9em;
}

#name
{
    color: $medium-grey;
    font-weight: 700;
}

.college
{
    position: absolute;
    left: 10em;
}

.developed-by
{
    text-align: right;
    margin-right: 11em;
}
