*
{
    margin: 0;
    font-family: 'Calibri', sans-serif;
    color: #dfdfdf;
}

*:before, 
*:after 
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a
{
    text-decoration: none;
    cursor: pointer;
}

ul li
{
    list-style: none;
}

/*********************** HEADER COMPONENT ***********************/
.head
{
    width: 100%;
    background-color: #181b1e;
    padding: 1.9em 0;
}

#logo
{
    position: absolute;
    top: .5em;
    left: 1em;
    width: 2.8em;
}

.search
{
    margin: -.9em 4.2em;
}

.input-search
{
    float: left;
    font-weight: 350;
    font-size: 1.1em;
    text-indent: 10px;
    background-color: #353b42;
    padding: 6px 0;
    width: 80%;
    border-radius: 1px;
    border: none;
   
}

#menubar-right
{
    background-color: #181b1e;
    position: absolute;
    right: 2.5em;
    top: .5em;
}

#btn-list
{
    background-color: transparent;
    border: none;
}

.menubar-icon
{
    width: 3.4em;
}

input::-webkit-input-placeholder 
{ /* WebKit browsers */
 color: #6a6f75;
 font-weight: 350;
 text-indent: 10px;
}
input:-moz-placeholder 
{ /* Mozilla Firefox 4 to 18 */
    color: #6a6f75;
    font-weight: 350;
    text-indent: 10px;
}
input::-moz-placeholder 
{ /* Mozilla Firefox 19+ */
    color: #6a6f75;
    font-weight: 350;
    text-indent: 10px;
}
input:-ms-input-placeholder 
{ /* Internet Explorer 10+ */
    color: #6a6f75;
    font-weight: 350;
    text-indent: 10px;
}

.nav-list
{
    display: none;
}

/*-----------------------------> MOBILE FIRST <----------------------------*/
/*---------------------> Small devices - Smartphones <---------------------*/
@media screen and (min-width: 460px) 
{

    #logo
    {
        left: 2em;
    }

    .search
    {
        margin: -.9em 6em;
    }

    .input-search
    {
        width: 15em;
    }

    #menubar-right
    {
        background-color: #181b1e;
        position: absolute;
        right: 4em;
        top: .5em;
    }
}

/*---------------------> Medium devices - Tablets & Desktops <---------------------*/
@media screen and (min-width: 975px)
{

    .head
    {
        padding: 1.8em 0;
    }

    #logo
    {
        left: 10em;
        top: .4em;
        width: 2.8em;
    }

    .search
    {
        margin: -.9em 14em;
    }

    .input-search
    {
        padding: 8px 0;  
        font-size: 1em; 
    }

    #menubar-right
    {
        right: 10em;
        top: .35em;
    }


    .menubar-icon
    {
        width: 3.1em;
    }

    .list-links
    {
        top: 1.3em;
        margin-left: 1em;
    }
    
    .nav-list
    {
        position: absolute;
        display: inline;
        background-color: #181b1e;
        cursor: pointer;
    }

    #dropdown
    {
        font-weight: 350;
    }

    #btn-list
    {
        font-weight: 550;
        font-size: .95em;
    }

    
    /*********************** ASIDE COMPONENT ***********************/
    #aside
    {
        position: absolute;
        top: 4.3em;
        right: 10em;
        height: 80vh;
        width: 17%;
    }
    
    .aside-head
    {
        border-radius: 3px 3px 0 0;
        width: 99%;
        border: solid 1px #999;
        background-color: #dfdfdf;
    }
    
    .aside-head > h1
    {
        font-size: 1.1em;
        color: #181b1e;
        margin-left: 10px;
        padding: .6em 0; 
    }
    
    .div-dir,
    .div-links
    {
        margin-top: .5em;
    }

    .links-container
    {
        border: solid 1px #999;
        border-radius: 0 0 3px 3px;
        padding: 5em 0;
        margin-top: -1px;
    }

    .dir-container
    {
        border: solid 1px #999;
        border-radius: 0 0 3px 3px;
        padding: 8.2em 0;
        margin-top: -1px;
    }

}
