
.modal-mask
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: $full-size;
    height: $full-size;
    background-color: rgba(0, 0, 0, .02);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.modal-container
{
    width: 25em;
    margin: 0px auto;
    padding: 1.5em 2em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .33);
    transition: all .12s ease;
}

.modal-header h3
{
    margin-top: 0;
    color: #42b983;
}

.modal-body
{
    margin: 1.5em 0;
}

.modal-default-button {
    float: right;
}

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter
{
    opacity: 0;
}

.modal-leave-active
{
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;

}

.space
{
  margin: 0 2%;
}

.radios-modal
{
  font-size: 1.1em;
  margin: 0 4%;
}

//==============================================================================

.page-blurred
{
  filter: blur(5px);
}

#modal-container
{
    h1
    {
        color: $dark-grey;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: -1em;
    }

    .form-modal > input
    {
        font-size: $default-size;
        border: $light-grey $medium-border;
        border-radius: 3px;
        padding: .3em;
        display: flex;
        width: $full-size - 5%;
        margin: 2% auto;
        text-indent: $input-indent;
    }

    .form-modal > textarea
    {
        font-size: $default-size;
        border: $light-grey $medium-border;
        border-radius: 3px;
        padding: .3em;
        display: flex;
        width: $full-size - 5%;
        margin: 2% auto;
        text-indent: $input-indent;
    }

    .div-btn-modal
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: $full-size - 5%;
    }

    .modal-buttons
    {
        cursor: pointer;
        font-size: 1.3em;
        width: 49.3%;
        padding: .3em;
        font-weight: 550;
        background-color: $dark-blue;
        color: $light-grey;
        border: $light-border $clear-blue;
        border-radius: 3px;

        &:hover
        {
            color: #fff;
            transition: .25s ease-in;
        }
    }
}
