.cacildis-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.cacildis-text
{
  font-size: 1.7em;
  color: #000;
}

.cacildis-image
{
  width: 12em;
}
