#login
{
    filter: blur(3px);
}

#senac-logo
{
    width: 7em;
    display: table;
    margin: auto;
}


.btn-close-log
{
    cursor: pointer;
    float: right;
    margin: -.7em -.8em;
    background: transparent;
    border: 0;
    font-size: 1.9em;

    .icon-log
    {
        fill: #ddd;
        width: 1em;
        &:hover
        {
            fill: $nice-blue;
            transition: .45s ease-out;
        }
    }
}



%equal-inputs
{
    width: $full-size;
    border-radius: 3px;
}

.form-login > input
{
    @extend %equal-inputs;
    font-size: $default-size - .1em;
    border: $light-grey $medium-border;
    text-indent: $input-indent;
    margin-top: 1.7%;
    padding: .7em 0;
}

.btn-login
{
    @extend %equal-inputs;
    font-size: 1.4em;
    font-weight: $default-weight + 150;
    color: $light-grey;
    background-color: $nice-blue;
    border: $medium-border;
    border-color: transparent;
    padding: .42em 0;
    margin-top: -5%;
    cursor: pointer;
}

.small-messages
{
    color: $nice-blue;
    font-size: $small-size;
    text-align: center;
    .login-fail
    {
        color: $hover-red;
    }
}

.forgotPass
{
  cursor: pointer;
}
