#btn-nav-list
{
    background: transparent;
    border: none;
    color: $light-grey;
    font-weight: $default-weight + 150;
    font-size: $default-size;
}

#dropdown-content
{
    font-size: $default-size;
    
}