#aside
{
    position: absolute;
    top: 4.3em;
    right: 10em;
    height: 80vh;
    width: 17%;
}

.aside-head
{
    border-radius: $default-radius + 1px;
    width: $full-size;
    border: $light-border $medium-grey;
    background-color: $light-grey;

    h1{
        font-size: $default-size;
        color: $black-background;
        margin-left: 10px;
        font-weight: $default-weight + 150;
        padding: .6em 0; 
    }        
}

.div-dir,
.div-links
{
    margin-top: .5em;
}

%equal-border
{
    border: $light-border $medium-grey;
    border-radius: 0 0 3px 3px;
    margin-top: -1px;
}

.links-container
{
    @extend %equal-border;
    padding: 6em 0;

}

.dir-container
{
    @extend %equal-border;
    padding: 9em 0;
}