//colors
$font-color: #66615b !default;
$dark-background: #353b42 !default;
$black-background: #181b1e;    
$light-grey: #dfdfdf;
$medium-grey: #999;
$dark-grey: #6a6f75;

//icons
$width-icon: 2.7em !default;
$height-icon: 2.7em !default;

//sizes
$none: 0 !default;
$default-size: 1.1em;
$default-weight: 400;
$full-size: 100%;
$navlist-size: 1.2em;

//inputs
$default-radius: 1px;
$input-indent: 10px;

//borders
$light-border: solid 1px;